<ion-content [fullscreen]="true">
  <div class="menuContent">
    <h1>HOW TO USE THIS APP</h1>


    <p>BASED ON THE BOOK ‘STARS OF AROHA’; A NZ MINDFULNESS MEDITATION CONCEPT. WRITTEN BY TESS MOEKE-MAXWELL.
      www.starsofaroha.co.nz</p>
    <p><b>STARS OF AROHA:</b> RELAX YOUR BODY AND MIND USING A DEEP BREATHING TECHNIQUE (EYES CLOSED, SLOWLY BREATHE IN
      THROUGH YOUR NOSE AND EXHALE THROUGH YOUR MOUTH UNTIL YOU FEEL DEEPLY RELAXED.</p>
    <p>SHAKE YOUR DEVICE TO RANDOMLY REVEAL A UNIQUE MEDITATION SYMBOL (DISCOVER WHAT COULD BE PREVENTING YOU FROM
      FEELING PEACEFUL); OR MANUALLY SELECT A MEDITATION FROM THE INTERACTIVE MAP. </p>
    <p>EACH SYMBOL WILL REVEAL THREE DISTINCT ASPECTS OF THE SYMBOL’S MEANING. SWIPE TO THE LEFT TO READ OR LISTEN TO
      THE MEDITATION DEFINITION (MEANING), PEACE THEME AND GUIDED MEDITATION. </p>
    <p>CHOOSE ONE OF THREE SOUNDTRACKS (OCEAN, NZ BIRD SONG & FOREST). THE ARROW (TOP LEFT) OF SCREEN WILL RETURN YOU TO
      THE HOME PAGE. </p>
    <p><b>LUNA’S LULLABY:</b> CHILDREN’S RELAXATION SOUNDTRACK. AOTEAROA NEW ZEALAND IS CALLING HER TIRED CHILDREN HOME
      TO SLEEP. LISTEN TO THE ANIMALS, BIRDS, SEA-LIFE AND INSECTS RUN, FLY, SKIP, BUZZ AND SWIM THEIR WAY HOME. WRITTEN
      AND PERFORMED BY TESS MOEKE-MAXWELL (STARS OF AROHA®). 28 mins.</p>

    <!--<p>Relax your body and mind using a deep breathing technique (eyes closed, slowly breathe in through your nose and exhale
      through your mouth until you feel deeply relaxed).</p>
    <p>Shake your device. When you are ready, stop shaking your device to reveal a unique meditation symbol. The symbol selected
      will then reveal three distinct aspects of the symbol's meaning. </p>
    <p>Once your symbol has been revealed swipe left to move through the symbol definition, spiritual 'peace' theme, and your
      guided meditation and then to return home. </p>
    <p>At any point you can swipe left or right to move through the screens and to return to the home screen where you can shake
      for a new meditation. </p>-->
    <p class="p1">
      <a (click)="menutToggle()">
        <img src="./assets/img/menuBlack.jpg" alt="menu" />
      </a>
    </p>
  </div>
</ion-content>