page-meditation {
  #pointMeditation {
    position: fixed;
  }

  ion-fab button {
    background-color: transparent !important;
    box-shadow: none !important;
    height: 44px !important;
  }

  ion-fab[top] {
    height: 44px !important;
    top: 0px !important;
  }

  ion-fab[left] {
    left: 5px !important;
  }

  .customtitle {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 44px;
    background-color: rgba(#f8f8f8, 0.55);
    -webkit-backdrop-filter: saturate(180%) blur(20px) !important;
    backdrop-filter: saturate(180%) blur(20px)!important;
  }

  h1 {
    color: #ffffff;
    font-size: 1.7rem;
    margin-top: 1.3rem;  
    font-weight: 600;
  }
  .p1 {
    text-align: center;
  }
  .bigImage {
    width: 100%;
    height: 100%;
  }
  .appcontent {
    width: 80%;
    height: 65%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 8%;
    right: 10%;
    overflow: auto;
  }
  .definationTitle {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    text-align: justify;
    color: #000;
  }
  .defination {
    text-transform: none;
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: #000;
    clear: both;
  }

  ion-footer {
    height: 125px;
    background-color: map-get($colors, dark);

    ion-grid,
    ion-row,
    ion-col {
      height: 100%;
    }

    ion-col {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
