<!-- <ion-header no-border no-shadow>

</ion-header> -->
<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="customBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div id="pointMeditation" (swipe)="swipeEvent($event)">
    <div class="customtitle">
      <h1><span [innerHtml]="point.maoriName"></span></h1>
    </div>
    <div class="appcontent">
      <p class="p1"><img [src]="point.icon_url" /></p>
      <div class="definationTitle">
        <strong><span [innerHtml]="point.maoriName"></span></strong> SPIRITUAL THEME APPLIED TO MEDITATION
      </div>
      <div class="defination" [innerHtml]="point.meditation"></div>
    </div>
    <div class="bigImage">
      <img [src]="point.image_url" />
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item no-lines>
          <ion-label>Play audio:</ion-label>
          <ion-select [(ngModel)]="soundtrack" interface="action-sheet">
            <ion-select-option value="reading" (ionChange)="_change()">Audio Meditation</ion-select-option>
            <ion-select-option value="birdlifeMusic" (ionChange)="_change()">NZ Birdlife Soundtrack</ion-select-option>
            <ion-select-option value="forestMusic" (ionChange)="_change()">NZ Forest Soundtrack</ion-select-option>
            <ion-select-option value="oceanMusic" (ionChange)="_change()">NZ Ocean Soundtrack</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
      </ion-col>
      <ion-col size="4">
        <button *ngIf="!playing" (click)="buttonPlayAudioEv()" color="light" clear ion-button icon-only>
          <ion-icon ios="ios-play-outline" md="ios-play-outline"></ion-icon>
        </button>
        <button *ngIf="playing" (click)="buttonPauseAudioEv()" color="light" clear ion-button icon-only>
          <ion-icon ios="ios-pause-outline" md="ios-pause-outline"></ion-icon>
        </button>
        <button *ngIf="!stop" (click)="buttonStopAudioEv()" color="light" clear ion-button icon-only>
          <ion-icon ios="ios-square-outline" md="ios-square-outline"></ion-icon>
        </button>
      </ion-col>
      <ion-col size="4">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>