<ion-content [fullscreen]="true">
  <div class="menuContent">
    <h1 style="padding-top: 15px;">Soundtracks</h1>
    <p>
      <strong>Audio Guided Meditations</strong>
      <br /> All 20 guided meditations can be read as text or can be listened to as audio guided meditations. Simply
      scroll to the
      bottom of the screen on the meditation page to find the audio select button.</p>
    <p>
      <strong>Stars of Aroha 'Nature' Soundtracks</strong>
      <br /> The ocean, forest and birdlife await. Select one of three original ‘nature’s soundtracks and be transported
      to the rolling
      green hills, turquoise seas, crystal rivers and lush forests of New Zealand.</p>
    <p>Listen to the natural voices and rhythms of New Zealand as you contemplate your meditation [soundtracks can also
      be selected
      at the end of each meditation page].</p>
    <p>
      <strong>Luna’s Lullaby</strong>
      <br /> Luna’s Lullaby is a relaxation soundtrack that’s ideal for young children.</p>
    <p class="p1">
      <a (click)="menuToggle()">
        <img src="./assets/img/menuBlack.jpg" alt="menu" />
      </a>
    </p>
  </div>
</ion-content>