page-mappage {
  #map {
    height: 100%;
    width: 100%;
  }
  .scroll {
    height: 100%
  }

  #infoButton {
    height: 2.1em;
    font-size: 1.3rem;
    padding: 0 .9em;
    border-radius: 4px;
    color: #fff;
    background-color: #4d4d4d;
    margin: .4rem .2rem;
    float: right;
  }
}
