<!--
  Generated template for the MappagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar transparent no-border>
    <ion-buttons slot="start" *ngIf="showMenu">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>Interactive Map</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div #map id="map"></div>
</ion-content>