<!-- <ion-header>
  <ion-navbar>
    <ion-title>luna</ion-title>
  </ion-navbar>
</ion-header> -->
<ion-content [fullscreen]="true">
  <div id="pointMeditation">
    <div class="appcontent">
      <div class="definationTitle">
        <strong>Luna's Lullaby</strong>
      </div>
      <div class="defination">
        <p>
          Luna’s Lullaby is a New Zealand bi-cultural relaxation-sleep story for children over 2 years. This relaxation
          soundtrack is great for ‘mat time’ or before bed. Children will enjoy listening to Aotearoa New Zealand (the
          land) calling her tired children home to sleep. Their minds will relax as they focus on the sound made by
          horses, sheep, cows, dogs, bumble bees, insects, birds and sea life as they run, fly, jump, swim and skip
          their way home. The soundtrack begins at an invigorating pace then slowly softens in speed and tone. The
          soundtrack was developed for Luna, a much loved granddaughter. Ironically, the name ‘Luna’ means ‘Goddess of
          the moon’.
        </p>
        <p class="p1">
          <a (click)="menuToggle()"><img src="./assets/img/menuBlack.png" alt="menu" /></a>
        </p>
      </div>
    </div>
    <!--<div class="bigImage">
      <img src="./assets/img/lunas-background.png" />
    </div>-->
  </div>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col="4">
      </ion-col>
      <ion-col col="4">
        <ion-button fill="clear" *ngIf="!playing" (click)="buttonPlayAudioEv()" color="light">
          <ion-icon icon-only name="play-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" *ngIf="playing" (click)="buttonPauseAudioEv()" color="light">
          <ion-icon icon-only name="pause-outline"></ion-icon>
        </ion-button>
        <ion-button fill="clear" *ngIf="!stop" (click)="buttonStopAudioEv()" color="light">
          <ion-icon icon-only name="stop-outline"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col col="4">
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>