@import '../../../theme/variables.scss';

page-luna {
  .p1 {
    text-align: center;
  }

  .bigImage {
    width: 100%;
    height: 100%;
  }

  .appcontent {
    width: 80%;
    height: 75%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 20%;
    right: 10%;
    overflow: auto;
  }

  .definationTitle {
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    text-align: justify;
    color: #000;
  }

  .defination {
    text-transform: none;
    text-align: justify;
    font-size: 15px;
    line-height: 1.5;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    color: #000;
    clear: both;
  }

  .p1 {
    background-color: transparent;
    text-align: center !important;
  }

  ion-content {
    --background: #000 url('/assets/img/lunas-background.png') no-repeat contain;
    background-image: url('/assets/img/lunas-background.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #000;
  }

  ion-footer {
    background-color: var(--ion-color-dark);

    ion-grid,
    ion-row,
    ion-col {
      height: 100%;
    }

    ion-col {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}