page-about {
  ion-content {
    width: 100%;
    height: 100%;
    --background: url('/assets/img/background.jpg') no-repeat left top;
    background-image: url('/assets/img/background.jpg');
    background-position: left top;
    background-repeat: no-repeat;

    h1 {
      text-transform: uppercase;
      padding-top: 15px;
      font-size: 1.6em;
      font-weight: normal;
      text-align: center;
      margin-bottom: 20px;
      color: #000;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    h1,
    h2 {
      text-align: center;
    }

    .p1 {
      background-color: transparent;
      text-align: center !important;
    }

    .menuContent {
      margin-top: 30px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 30px;
      border: 4px solid #000;
      background-color: #fff;

      p {
        color: #000;
        text-align: left;
      }

      a {
        border: none;
        background-color: transparent;
        color: inherit;
      }

      img {
        border: none;
        background-color: transparent;
        width: 54px;
        height: 64px;
      }
    }
  }
}