<ion-content [fullscreen]="true">
  <div class="menuContent">
    <h1>
      <strong>Nau Mai Haere Mai</strong>
      <br /> Welcome to Stars of Aroha® Meditations
      <br />Aotearoa New Zealand</h1>
    <p>This App is a virtual representation of the Stars of Aroha® Rolling Star and Meditation book.</p>
    <p>
      <em>What is the Stars of Aroha® Meditations App?</em>
    </p>
    <p>The App is a virtual representation of a Rolling Star. The Rolling Star is used to select a meditation. The
      Rolling Star
      is a 20 triangular-sided icosahedron. When it is rolled then comes to a standstill the symbol on its uppermost
      surface
      is viewed (much like a dice). Each of the 20 symbols represents a Māori creation story, native butterfly, flora
      and fauna
      or bird from New Zealand. Each symbol has a definition, spiritual ‘peace’ theme and guided meditation. </p>
    <p>MEDITATION LIFTED US UP WHEN BREAST CANCER WAS DIAGNOSED. IT SEEMS ONLY NATURAL TO WANT TO HELP OTHERS WHO ARE IN
      NEED OF PEACE. STAR CARDS BOXED SETS, NATIVE WOOD ROLLING STAR BOXED SETS AND GENUINE STERLING SILVER ROLLING STAR
      BOXED SETS CAN BE PURCHASED FROM
      <a style="text-decoration: underline;"
        onclick="window.open('http://www.starsofaroha.co.nz', '_system');">www.starsofaroha.co.nz</a>
    </p>
    <h2>Indigenous meaning of
      <br />'Stars of Aroha'</h2>
    <p>The stars guided Māori ancestors safely across the ocean to live in Aotearoa New Zealand. Aroha is the Māori word
      for love,
      concern, compassion and empathy. The Stars of Aroha Meditations provide a guiding light to help people navigate
      life
      by reconnecting them to the Love and Peace that lives deep within.</p>
    <p class="p1">
      <a (click)="menutToggle()">
        <img src="./assets/img/menuBlack.jpg" alt="menu" />
      </a>
    </p>
  </div>
</ion-content>