<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu menuId="main-menu" contentId="main-content" type="reveal">
      <ion-header>
        <ion-toolbar></ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of pages; let i = index">
            <ion-item (click)="openPage(p)" routerDirection="root" [routerLink]="[p.path]">
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-item (click)="deleteFile()">
            <ion-label>Refresh Media</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-toolbar>
          <ion-title color="dark">
            <ion-text color="dark">
              <small>{{appVersionData.versionNumber}}</small>
            </ion-text>
          </ion-title>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content" main></ion-router-outlet>
  </ion-split-pane>
</ion-app>