$containerWidth: 200px;
$containerHeight: $containerWidth;
$faceWidth: $containerWidth*0.5;
$faceHeight: $faceWidth*0.86;
$transitionDuration: 0.5s;
$animationDuration: 3s;
$angle: 53deg;
$ringAngle: -11deg;
$sideAngle: 360deg/5;
$opacity: 0.8;
$color: rgba(192, 192, 192, $opacity);
$rotateX: -$angle;
$translateZ: $faceWidth*0.335;
$translateY: -$faceHeight*0.15;
$translateRingZ: $faceWidth*0.75;
$translateRingY: $faceHeight*0.78+$translateY;
$translateLowerZ: $translateZ;
$translateLowerY: $faceHeight*0.78+$translateRingY;

page-home {
  ion-content {
    width: 100%;
    height: 100%;
    background-image: url('/assets/img/homeBackground.jpg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #fff !important;

    --width: 100%;
    --height: 100%;
    --background: url('/assets/img/homeBackground.jpg') no-repeat left top 100% 100%;
    --color: #fff;

    h1 {
      padding-top: 1em;
      padding-bottom: 1em;
      text-transform: uppercase;
      font-size: 1.6em;
      font-weight: normal;
      text-align: center;
      margin-bottom: 20px;
    }

    .p1 {
      font-style: italic !important;
      font-size: 1em !important;
    }

    .p2 {
      font-weight: bold !important;
      font-size: 3em !important;
      margin-bottom: 1em !important;
    }

    .welcomeContent {
      // padding: 20px;
    }

    .welcome {
      p {
        text-align: center;
        font-size: 13px;
      }

      a {
        border: none;
        background-color: transparent;
      }

      img {
        border: none;
        background-color: transparent;
        width: 54px;
        height: 64px;
      }
    }
  }

  @keyframes roll {
    10% {
      transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)
    }

    30% {
      transform: rotateX(120deg) rotateY(240deg) rotateZ(0deg) translateX(40px) translateY(40px)
    }

    50% {
      transform: rotateX(240deg) rotateY(480deg) rotateZ(0deg) translateX(-40px) translateY(-40px)
    }

    70% {
      transform: rotateX(360deg) rotateY(720deg) rotateZ(0deg)
    }

    90% {
      transform: rotateX(480deg) rotateY(960deg) rotateZ(0deg)
    }
  }

  .dicecontent {
    padding-top: 50px;
    margin: auto auto;
    position: relative; // width: $containerWidth;
    // height: $containerHeight;
    perspective: 1500px;
  }

  .die {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform $transitionDuration ease-out;
    cursor: pointer;
    transform: rotateX($rotateX);

    &.rolling {
      animation: roll $animationDuration linear;
    }

    @for $i from 1 through 5 {
      &[data-face="#{$i}"] {
        $angleMultiplier: $i - 1;
        transform: rotateX(-$angle) rotateY($sideAngle * $angleMultiplier);
      }
    }

    @for $i from 16 through 20 {
      &[data-face="#{$i}"] {
        $angleMultiplier: $i - 15;
        transform: rotateX(-$angle + 180deg) rotateY(-$sideAngle * $angleMultiplier);
      }
    }

    @for $i from 6 through 10 {
      &[data-face="#{$i}"] {
        $angleMultiplier: $i - 6;
        transform: rotateX(-$ringAngle) rotateZ(180deg) rotateY($sideAngle * $angleMultiplier);
      }
    }

    @for $i from 11 through 15 {
      &[data-face="#{$i}"] {
        $angleMultiplier: $i - 8;
        transform: rotateX(-$ringAngle) rotateY(-$sideAngle * $angleMultiplier - $sideAngle/2);
      }
    }

    .face {
      $horizontalMargin: -$faceWidth*0.5;
      position: absolute;
      left: 50%;
      top: 0;
      margin: 0 $horizontalMargin;
      border-left: $faceWidth*0.5 solid transparent;
      border-right: $faceWidth*0.5 solid transparent;
      border-bottom: $faceHeight solid $color;
      width: 0px;
      height: 0px;
      transform-style: preserve-3d;
      backface-visibility: hidden;
      counter-increment: steps 1;

      &:before {
        content: counter(steps);
        position: absolute;
        top: $faceHeight*0.25;
        left: -$faceWidth;
        color: #fff;
        text-shadow: 1px 1px 3px #000;
        font-size: $faceHeight*0.5;
        text-align: center;
        line-height: $faceHeight*0.9;
        width: $faceWidth*2;
        height: $faceHeight;
      }

      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          $angleMultiplier: $i - 1;
          transform: rotateY(-$sideAngle * $angleMultiplier) translateZ($translateZ) translateY($translateY) rotateX($angle);
        }
      }

      @for $i from 16 through 20 {
        &:nth-child(#{$i}) {
          $angleMultiplier: $i - 18;
          transform: rotateY($sideAngle * $angleMultiplier + $sideAngle/2) translateZ($translateLowerZ) translateY($translateLowerY) rotateZ(180deg) rotateX($angle);
        }
      }

      @for $i from 6 through 10 {
        &:nth-child(#{$i}) {
          $angleMultiplier: $i - 11;
          transform: rotateY(-$sideAngle * $angleMultiplier) translateZ($translateRingZ) translateY($translateRingY) rotateZ(180deg) rotateX($ringAngle);
        }
      }

      @for $i from 11 through 15 {
        &:nth-child(#{$i}) {
          $angleMultiplier: $i - 8;
          transform: rotateY($sideAngle * $angleMultiplier + $sideAngle/2) translateZ($translateRingZ) translateY($translateRingY) rotateX($ringAngle);
        }
      }
    }


    .face-1:before {
      content: url('/assets/icon/1.png');
    }

    .face-2:before {
      content: url('/assets/icon/2.png');
    }

    .face-3:before {
      content: url('/assets/icon/3.png');
    }

    .face-4:before {
      content: url('/assets/icon/4.png');
    }

    .face-5:before {
      content: url('/assets/icon/5.png');
    }

    .face-6:before {
      content: url('/assets/icon/6.png');
    }

    .face-7:before {
      content: url('/assets/icon/7.png');
    }

    .face-8:before {
      content: url('/assets/icon/8.png');
    }

    .face-9:before {
      content: url('/assets/icon/9.png');
    }

    .face-10:before {
      content: url('/assets/icon/10.png');
    }

    .face-11:before {
      content: url('/assets/icon/11.png');
    }

    .face-12:before {
      content: url('/assets/icon/12.png');
    }

    .face-13:before {
      content: url('/assets/icon/13.png');
    }

    .face-14:before {
      content: url('/assets/icon/14.png');
    }

    .face-15:before {
      content: url('/assets/icon/15.png');
    }

    .face-16:before {
      content: url('/assets/icon/16.png');
    }

    .face-17:before {
      content: url('/assets/icon/17.png');
    }

    .face-18:before {
      content: url('/assets/icon/18.png');
    }

    .face-19:before {
      content: url('/assets/icon/19.png');
    }

    .face-20:before {
      content: url('/assets/icon/20.png');
    }
  }
}