<ion-content class="ion-padding">
  <!-- <div class="welcome" (swipe)="callToRoll()"> -->
  <div class="welcome">
    <div class="welcomeContent">
      <h1 class="ion-text-center">
        <strong>Nau Mai Haere Mai</strong>
        <br /> Welcome to
        <br />Stars of Aroha®
        <br />
        <strong>Mindfulness Meditation</strong>
        <br /> Aotearoa New Zealand</h1>
      <p class="p1">
        <em>To begin, press 'Start' below or Shake your device* to start the Rolling Star, choosing your next
          meditation</em>
        <br>
        <em><small>*Not available on all devices</small></em>
        <!-- <em>Shake your device to start the Rolling Star, choosing your next meditation</em> -->
      </p>
      <ion-button expand="block" fill="outline" (click)="callToRoll()">Start</ion-button>

      <!-- <p class="p2">SHAKE</p> -->
      <p style="background-color: transparent;">
        <a (click)="menutToggle()">
          <img src="./assets/img/menuWhite.png" alt="menu" />
        </a>
      </p>
      <div class="dicecontent">
        <div class="die">
          <figure class="face face-1" title="1"></figure>
          <figure class="face face-2" title="2"></figure>
          <figure class="face face-3" title="3"></figure>
          <figure class="face face-4" title="4"></figure>
          <figure class="face face-5" title="5"></figure>
          <figure class="face face-6" title="6"></figure>
          <figure class="face face-7" title="7"></figure>
          <figure class="face face-8" title="8"></figure>
          <figure class="face face-9" title="9"></figure>
          <figure class="face face-10" title="10"></figure>
          <figure class="face face-11" title="11"></figure>
          <figure class="face face-12" title="12"></figure>
          <figure class="face face-13" title="13"></figure>
          <figure class="face face-14" title="14"></figure>
          <figure class="face face-15" title="15"></figure>
          <figure class="face face-16" title="16"></figure>
          <figure class="face face-17" title="17"></figure>
          <figure class="face face-18" title="18"></figure>
          <figure class="face face-19" title="19"></figure>
          <figure class="face face-20" title="20"></figure>
        </div>
      </div>
    </div>
  </div>
</ion-content>