 @font-face {
	font-family: "PTSans";
	src: url("fonts/PT_Sans-Web-Regular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTSans';
	src: url('fonts/PT_Sans-Web-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "PTSans";
	src: url("fonts/PT_Sans-Web-Italic.ttf") format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "PTSans";
	src: url("fonts/PT_Sans-Web-BoldItalic.ttf") format('truetype');
	font-weight: bold;
	font-style: italic;
}

 @font-face {
	font-family: "Libre";
	src: url("fonts/LibreBaskerville-Regular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Libre';
	src: url('fonts/LibreBaskerville-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
}

@font-face {
	font-family: "Libre";
	src: url("fonts/LibreBaskerville-Italic.ttf") format('truetype');
	font-weight: normal;
	font-style: italic;
}

body {
	font-family: PTSans !important;
	font-weight: normal;
	font-style: normal;
}