page-metaphor {
    #pointMetaphor {
        position: fixed;
    }
    .appcontent {
        width: 80%;
        height: 84%;
        background-color: rgba(255,255,255,0.5);
        position: absolute;
        top: 8%;
        right: 10%;
        overflow: auto;
    }
    .definationTitle {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        font-size: 18px;
        text-align: justify;
        color: #000;
    }
    .defination {
        text-transform: none;
        text-align: justify;
        font-size: 15px;
        line-height: 1.5;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        color: #000;
        clear: both;
    }
    .icon {
        padding-bottom: 20px;
        position: relative;
    }
    .icon p {
        text-align: center;
    }
    p {
        text-transform: none;
        padding-bottom: 12px;
        color: #000;
        text-align: center;
        /* img {
            width: 60px;
            height: 71px;
        } */
    }
    .bigImage {
        width: 100%;
        height: 100%;
    }
}