<ion-content [fullscreen]="true">
  <div class="menuContent">
    <h1 style="padding-top: 15px;">Māori Pronunciation</h1>
    <p>The Māori language sounds as it is written. If you know how to pronounce the vowels and consonants you will be
      able to
      pronounce the words. Although there are some differences between iwi (tribal groups), the following is a basic
      guide
      to help the reader to pronounce the words presented in the Stars of Aroha® Meditations' book. Where a macron (the
      dash
      over a vowel) is used, the vowel is lengthened and each vowel should be pronounced separately.</p>
    <p>
      <strong>Māori vowels:</strong>
      <br /> A as in f
      <strong>a</strong>ther
      <br /> E as in
      <strong>e</strong>gg
      <br /> I as in
      <strong>i</strong>gloo
      <br /> O as in h
      <strong>o</strong>rse
      <br /> U as in sh
      <strong>oe</strong>
    </p>
    <p>
      <strong>Māori consonants:</strong>
      <br /> R ("r" is rolled on the tongue)
      <br /> Wh as in
      <strong>f</strong>amily
      <br /> Nga as in si
      <strong>ng</strong>er.</p>
    <p class="p1">
      <a (click)="menutToggle()">
        <img src="./assets/img/menuBlack.jpg" alt="menu" />
      </a>
    </p>
  </div>
</ion-content>