<ion-header transparent no-shadow>
  <ion-toolbar [ngClass]="headerClass(selectedItem)">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><span [innerHtml]="apptitle"></span></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [ngClass]="headerClass(selectedItem)" slot="fixed">
  <ion-slides #slides (ionSlideDidChange)="slideChanged()" pager="true" paginationType="bullets">
    <ion-slide>
      <div id="pointContent">
        <div class="pointDetails">
          <div class="maoriName" [innerHtml]="point.maoriName"></div>
          <div class="title" [innerHtml]="point.title"></div>
          <div class="shortDesc" [innerHtml]="point.shortDescription"></div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div id="pointDefination">
        <div class="appcontent">
          <p>
            <img [src]="point.icon_url" />
          </p>
          <div class="definationTitle">
            <strong><span [innerHtml]="point.maoriName"></span></strong>
            <br>DEFINITION OF SYMBOL &amp; METAPHOR APPLIED
          </div>
          <div class="defination" [innerHtml]="point.defination"></div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div id="pointMetaphor">
        <div class="appcontent">
          <p>
            <img [src]="point.icon_url" />
          </p>
          <div class="definationTitle">
            <strong><span [innerHtml]="point.maoriName"></span></strong>
            <br>METAPHOR ALIGNED WITH SPIRITUAL THEME
          </div>
          <div class="defination" [innerHtml]="point.metaphor"></div>
        </div>
      </div>
    </ion-slide>
    <ion-slide>
      <div id="pointMeditation">
        <div class="appcontent">
          <p class="p1"><img [src]="point.icon_url" /></p>
          <div class="definationTitle">
            <strong><span [innerHtml]="point.maoriName"></span></strong> SPIRITUAL THEME APPLIED TO MEDITATION
          </div>
          <div class="defination" [innerHtml]="point.meditation"></div>
        </div>
      </div>
    </ion-slide>
  </ion-slides>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" #fab *ngIf="showFooter">
    <ion-fab-button color="light">
      <ion-icon name="chevron-back-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="fabButtonStopAudioEv()">
        <ion-icon name="stop-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="fabButtonPlayAudioEv()">
        <ion-icon name="play-outline" *ngIf="!playing"></ion-icon>
        <ion-icon name="pause-outline" *ngIf="playing"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed" #fabMusic>
    <ion-fab-button color="light" (click)="presentPopover($event)">
      <ion-icon name="musical-notes"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>