@import '../../../theme/variables.scss';

page-sliderpage {
  #pointContent {
    span {
      text-shadow: 1px 1px #999;
    }
  }

  ion-slides {
    height: 100%;

    ion-slide {
      &.swiper-slide {
        height: 95%;
        padding: 0 1em;
      }
    }
  }

  #pointContent,
  #pointDefination,
  #pointMetaphor,
  #pointMeditation {
    height: inherit;

    .appcontent {
      /*width: 80%;
      height: 95%;*/
      background-color: rgba(255, 255, 255, 0.5);
      /*position: absolute;*/
      /*top: 3%;
      right: 10%;*/
      overflow: auto;
      height: inherit;
    }

    .definationTitle {
      padding-top: 15px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      font-size: 18px;
      text-align: justify;
      color: #000;
    }

    .defination {
      text-transform: none;
      text-align: justify;
      font-size: 15px;
      line-height: 1.5;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 15px;
      color: #000;
      clear: both;
    }

    .icon {
      padding-bottom: 20px;
      position: relative;
    }

    .icon p {
      text-align: center;
    }

    p {
      text-transform: none;
      /*padding-bottom: 12px;*/
      color: #000;
      text-align: center;
      /* img {
            width: 60px;
            height: 71px;
        } */
    }

    .bigImage {
      width: 100%;
      height: 100%;
    }
  }

  #pointContent {
    .pointDetails {
      position: absolute;
      top: 5%;
      right: 10%;
      text-align: right;
    }

    .maoriName {
      color: #fff;
      font-weight: bold;
      font-size: 3em;
      font-family: PTSans !important;
      text-align: right;
      text-transform: lowercase;
      text-shadow: 3px 3px 0px #000;
    }

    .title {
      padding-bottom: 1.5em;
      color: #fff;
      font-size: 1.8em;
      font-weight: normal;
      font-family: PTSans !important;
      text-align: right;
      text-shadow: 3px 3px 0px #000;
    }

    .shortDesc {
      width: 60%;
      color: #fff;
      font-size: 1.3em;
      text-align: right;
      font-style: italic;
      font-family: Libre !important;
      text-transform: none;
      float: right;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0.5em;
      border-radius: 1em;
    }
  }

  #pointMeditation {
    .customtitle {
      text-align: center;
      position: absolute;
      width: 100%;
      height: 44px;
      background-color: rgba(#f8f8f8, 0.55);
      -webkit-backdrop-filter: saturate(180%) blur(20px) !important;
      backdrop-filter: saturate(180%) blur(20px) !important;
    }

    h1 {
      color: #ffffff;
      font-size: 1.7rem;
      margin-top: 1.3rem;
      font-weight: 600;
    }
  }

  ion-footer {
    height: 125px;
    background-color: var(--ion-color-dark);

    ion-grid,
    ion-row,
    ion-col {
      height: 100%;
    }

    ion-col {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  ion-header {
    ion-toolbar {
      background: inherit;

      &:before {
        content: '';
        position: absolute;
        background: inherit;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
        filter: blur(10px);
        margin: -20px;
      }
    }

    .toolbar-title {
      color: #ffffff !important;
    }

    .back-button {
      color: #ffffff !important;
    }
  }

  .one {
    --background: url('/assets/img/1.jpg') no-repeat center cover;
    background-image: url('/assets/img/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }

  .two {
    --background: url('/assets/img/2.jpg') no-repeat center cover;
    background-image: url('/assets/img/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }

  .three {
    --background: url('/assets/img/3.jpg') no-repeat center cover;
    background-image: url('/assets/img/3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }

  .four {
    --background: url('/assets/img/4.jpg') no-repeat center cover;
    background-image: url('/assets/img/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }

  .five {
    --background: url('/assets/img/5.jpg') no-repeat center cover;
    background-image: url('/assets/img/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }

  .six {
    --background: url('/assets/img/6.jpg') no-repeat center cover;
    background-image: url('/assets/img/6.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }

  .seven {
    --background: url('/assets/img/7.jpg') no-repeat center cover;
    background-image: url('/assets/img/7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }

  .eight {
    --background: url('/assets/img/8.jpg') no-repeat center cover;
    background-image: url('/assets/img/8.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }

  .nine {
    --background: url('/assets/img/9.jpg') no-repeat center cover;
    background-image: url('/assets/img/9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }

  .ten {
    --background: url('/assets/img/10.jpg') no-repeat center cover;
    background-image: url('/assets/img/10.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }

  .eleven {
    --background: url('/assets/img/11.jpg') no-repeat center cover;
    background-image: url('/assets/img/11.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }

  .twelve {
    --background: url('/assets/img/12.jpg') no-repeat center cover;
    background-image: url('/assets/img/12.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }

  .thirteen {
    --background: url('/assets/img/13.jpg') no-repeat center cover;
    background-image: url('/assets/img/13.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }

  .fourteen {
    --background: url('/assets/img/14.jpg') no-repeat center cover;
    background-image: url('/assets/img/14.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }

  .fifteen {
    --background: url('/assets/img/15.jpg') no-repeat center cover;
    background-image: url('/assets/img/15.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }

  .sixteen {
    --background: url('/assets/img/16.jpg') no-repeat center cover;
    background-image: url('/assets/img/16.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }

  .seventeen {
    --background: url('/assets/img/17.jpg') no-repeat center cover;
    background-image: url('/assets/img/17.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }

  .eighteen {
    --background: url('/assets/img/18.jpg') no-repeat center cover;
    background-image: url('/assets/img/18.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }

  .nineteen {
    --background: url('/assets/img/19.jpg') no-repeat center cover;
    background-image: url('/assets/img/19.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }

  .twenty {
    --background: url('/assets/img/20.jpg') no-repeat center cover;
    background-image: url('/assets/img/20.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    ion-title {
      color: #fff;
      --color: #fff;
    }
  }
}
