<ion-content [fullscreen]="true">
    <div id="pointDefination" (swipe)="swipeEvent($event)">
        <div class="appcontent">
            <p>
                <img [src]="point.icon_url" />
            </p>
            <div class="definationTitle">
                <strong><span [innerHtml]="point.maoriName"></span></strong>
                <br>DEFINITION OF SYMBOL &amp; METAPHOR APPLIED
            </div>
            <div class="defination" [innerHtml]="point.defination"></div>
        </div>
        <div class="bigImage">
            <img [src]="point.image_url" />
        </div>
    </div>
</ion-content>