page-list {
    .pointContent{
        position: fixed;
    }

    .pointDetails {
      position: absolute;
      top: 5%;
      right: 10%;
      text-align: right;
    }

    .maoriName {
      color: #fff;
      font-weight: bold;
      font-size: 3em;
      font-family: PTSans !important;
      text-align: right;
      text-transform: lowercase;
    }

    .title {
      padding-bottom: 1.5em;
      color: #fff;
      font-size: 1.8em;
      font-weight: normal;
      font-family: PTSans !important;
      text-align: right;
    }

    .shortDesc {
      width: 60%;
      color: #fff;
      font-size: 1.3em;
      text-align: right;
      font-style: italic;
      font-family: Libre !important;
      text-transform: none;
      float: right;
    }

    .bigImage {
      width: 100%;
      height: 100%;
    }

}
