<ion-content [fullscreen]="true">
  <div id="pointContent" (swipe)="swipeEvent($event)">
    <div class="pointDetails">
      <div class="maoriName" [innerHtml]="point.maoriName"></div>
      <div class="title" [innerHtml]="point.title"></div>
      <div class="shortDesc" [innerHtml]="point.shortDescription"></div>
    </div>
    <div class="bigImage">
      <img [src]="point.image_url" />
    </div>
  </div>
</ion-content>
